// Example `.env` file. Create your own personal `.env` file based on this.
// Interpret any <BRACKETS> as a value you must replace.
//
// If a commit requires new environment variables be set, please add them to
// this `.env.example` file for all other developers to see and compare their
// own `.env` files and ensure all have the required environment variables set.
//
// Also include a brief explanation of what the environment variable does
// above its declaration.
//
// When using `vite`, all environment variables that are to be accessed by the
// code must be prefixed with "VITE_", and can be imported into the code by
// using `import.meta.env.VITE_<YOUR_VARIABLE>`.

// API URL to access the backend server.
VITE_API_URL=https://localhost:<BACKEND_PORT>/<API_END_POINT_URI>
