.NavBar {
    background-color: #191F6D; /* Fondo azul */
    color: rgb(236, 36, 36);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea los elementos a los extremos */
}

.LogoSanders {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Espacio entre la imagen y los botones */
}

/* Botones generales */
.boton {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;  
    border-radius: 20px;
    border: 2px solid #57cc99;
    background: #57cc99;
    margin-left: 15px; /* Espacio entre los botones */
}

/* Hover para los botones generales */
.boton:hover {
    background: #fff;
    color: #57cc99;
}

/* Estilo específico para el botón "DONAR AHORA" */
.boton.donar {
    background-color: #ff5722; /* Color distintivo para el botón DONAR AHORA */
    border-color: #ff5722; /* Asegúrate de que el borde también sea del mismo color */
}

/* Hover para el botón "DONAR AHORA" */
.boton.donar:hover {
    background: #fff; /* Cambia el fondo al hacer hover */
    color: #ff5722; /* Cambia el color del texto al hacer hover */
}

/* Estilo para centrar los botones (opcional, si deseas ajustarlos) */
.botones {
    display: flex;
    justify-content: center; /* Centra los botones */
    flex-grow: 1; /* Permite que ocupe el espacio restante */
}
